body{
				margin:0;
				font: 14px Helvetica, Arial, serif;
			}
			.title {
			  text-align: center;
			  color: #333;
			  font-size: 1.6em;
			}
			.creds {
			  text-align: center;
			  color: #666;
			  font-size: 0.85em;
			}
			.creds a {
			  color: #000;
			  text-decoration: none;
			  border-bottom: 1px dotted #000;
			}
			.flip-menu{
			margin: 30px 0 0;
			}
			.flip-item-wrap{
			width: 25%;
		    height: auto;
		    float: left;
			position:relative;
			-webkit-perspective:800px;
			   -moz-perspective:800px;
			    -ms-perspective:800px;
			     -o-perspective:800px;
			        perspective:800px;
			}
			@media screen and (min-width: 1280px) {
				.flip-item-wrap{
				width: 16.6%;
				}
			}
			@media screen and (max-width: 979px) {
				.flip-item-wrap{
				width: 33.3%;
				}
			}
			@media screen and (max-width: 639px) {
				.flip-item-wrap{
				width: 50%;
				}
			}
			@media screen and (max-width: 379px) {
				.flip-item-wrap{
				width: 100%;
				}
			}
			.flip-item-wrap img{
			width:100%;
			height:auto;
			display:block;
			margin:0;
			}
			.flip-item-wrap input{
			display: none;
			}
			.flip-item-wrap .fake-image{
			visibility: hidden;
			}
			.flip-item{
			display: block;
			width:100%;
			height:100%;
			float:left;
			position:absolute;
			top:0;
			left:0;
			cursor:pointer;
			color:#fff;
			-webkit-transform-style:preserve-3d;
			   -moz-transform-style:preserve-3d;
			    -ms-transform-style:preserve-3d;
			     -o-transform-style:preserve-3d;
			        transform-style:preserve-3d;
			-webkit-transition:-webkit-transform 1s;
			   -moz-transition:   -moz-transform 1s;
			     -o-transition:     -o-transform 1s;
			        transition:        transform 1s;
			}
			.flip-item figure{
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			margin:0;
			-webkit-backface-visibility:hidden;
			   -moz-backface-visibility:hidden;
			    -ms-backface-visibility:hidden;
			     -o-backface-visibility:hidden;
			        backface-visibility:hidden;
			}
			.flip-item .back{
			width:100%;
			display:block;
			margin:0;
			-webkit-transform:rotateY( 180deg );
			   -moz-transform:rotateY( 180deg );
			    -ms-transform:rotateY( 180deg );
			     -o-transform:rotateY( 180deg );
			        transform:rotateY( 180deg );
			}
			.flipper:checked + .flip-item{
			-webkit-transform:rotateY( 180deg );
			   -moz-transform:rotateY( 180deg );
			    -ms-transform:rotateY( 180deg );
			     -o-transform:rotateY( 180deg );
			        transform:rotateY( 180deg );
			}
			.flip-item-desc{
			background: rgba(0,0,0,0.2);
			width:90%;
			height:90%;
			padding:5%;
			position:absolute;
			top: 0;
			left: 0;
			text-shadow:1px 2px 1px rgba(0,0,0,0.9);
			overflow:hidden;
			}
			.flip-item-title{
			font-size: 1.5em;
			margin: 1em 0 0.8em;
			}

/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/templates/modern-business)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 Added manually the css*/

body {
  /* // padding-top: 56px; */
  padding-top: 33px;

}

.carousel-item {
  height: 90vh;
  /* // height: 65vh; */
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* //CSS for inxex backround and card border */
body {
  background: #e5e696;
background: -moz-linear-gradient(top,  #e5e696 24%, #d6db81 41%, #d1d360 72%);
background: -webkit-linear-gradient(top,  #e5e696 24%,#d6db81 41%,#d1d360 72%);
background: linear-gradient(to bottom,  #e5e696 24%,#d6db81 41%,#d1d360 72%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 );


}
.card {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
 box-shadow: 5px 5px 15px 5px #000000;
}

.portfolio-item {
  margin-bottom: 30px;
}
/* //////////////HEADER AND FOOTER/////////////////
// .menu { //Gradient generator for navbar
// 	background: #bfd255;
// 	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
// 	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
// 	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
// 	height: 60px;
// } */
.menu {
background: #bfd255;
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
height: 60px;
/* // padding: 3px; */
}
/* // .drop-menu {
// font-family: Impact, Charcoal, sans-serif;
// font-size: 24px;
// letter-spacing: 0.4px;
// word-spacing: 0.8px;
// color: #0C3F07;
// font-weight: 700;
// text-decoration: none;
// font-style: normal;
// font-variant: normal;
// text-transform: none;
// } */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #0C3F07;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #0C3F07;
}

.submenu {
background: #bfd255;
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );

}
/* //main menu navigation links */
.navigation-item{
    font-family: Impact, Charcoal, sans-serif;
font-size: 20px;
letter-spacing: 0.4px;
word-spacing: 0.8px;
color: #0C3F07;
font-weight: 200;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

footer {
    background: #bfd255;
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

/* //CSS for show for difficutlty */
.fa-drumstick-bite {
  display: inline-block;
  // color: rgb(198,136,136);
  border-radius: 50%;
  padding: 0.3em; /* adjust padding */
  //line-height: initial !important; /* reset line-height */
  height: 2em;
  width: 2em;
  text-align:center;
}

/* //CSS for picture in recipe show */
.pic-shadow {
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 20px 14px rgba(0,0,0,0.37);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 20px 14px rgba(0,0,0,0.37);
}

/* //Difficulty leve on show recipe shring (bring closer) */
.shring {
    flex-grow: unset;
}
.red {
    color: red;
}
.headings{
  color: #0B5004;
	font-weight: 1000;
}
/* ///////////////Create Recipe form formate//////// */
.recipe-form .name-input {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.recipe-form .input-text:focus {
  outline: none;
}
.recipe-form .input-text:focus + .label,
.recipe-form .input-text.not-empty + .label,
 .recipe-form .input-text:not(:placeholder-shown) + .label{
  -webkit-transform: translateY(-24px);
          transform: translateY(-34px);
}

.recipe-form .label {
  position: absolute;
  left: 20px;
  bottom: 1px;
	// bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}


.recipe-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}

/* //Hide placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

/* //Check box on select button */
.btn-group > .btn.active {
    font-weight: bold;
}

.btn-group > .btn.active::before {
  position: absolute;
  left: .01rem;
  content: '✓';
  font-weight: 600;
}

/* //Step form */
.container {
	 margin-top: 10px;
}
.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}


/* // Cookie concent CSS */
.cookie-consent__agree {
box-shadow:inset 1px -4px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:10px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	font-style:italic;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 4px 7px #528009;
}

.cookie-consent__agree:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.cookie-consent__agree:active {
	position:relative;
	top:1px;
}
.cookie-consent {
   background: rgb(9,129,67);
   background: linear-gradient(90deg, rgba(9,129,67,1) 0%, rgba(11,185,98,1) 34%, rgba(0,255,170,1) 100%);
}
.cookie-consent__message {
    color: white;
}

/* //////////////Scroll to top///////////////// */
.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #bfd255;
    /* // background-color: hsla(5, 76%, 62%, .8) */
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #096EA5;
    /* // background-color: hsla(5, 76%, 62%, .8);
    // background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8) */
}

#label-chosen {
  background-color: rgb(15,85,4);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}
